@media screen and (max-width:980px){
    
    
}


/* header */
@media screen and (max-width:980px){
    header .container{
        text-align: center;
    }
    
    #foto-perfil{
        position: static;
        margin-bottom: 1em;
    }
    
    #nome-perfil{
        position: static;
        font-size: 1.5em;
    }

    #im{
        display: block;
    }

    #contatos{
        position: static;
        display: block;
        margin-top: 3em;
    }
}

/* section sobre mim */
@media screen and (max-width:840px){
    
    #info-section .container{
        margin: 0;
        height: 90%;
        top: 10%;
    }

    #info-ul{
        font-size: 0.8em;
    }

    #info-p{
        text-align: justify;
        margin: 0 auto;
        width: 80%;
    }

    #info-section .botao-animado{
        position: absolute;
        left: 10%;
        bottom: 5%;
    }
}

@media screen and (max-width:350px){
    #info-section{
        height: 130vh;
    }
}

/* section projetos */

@media screen and (max-width:840px){
    .owl-nav {
        display: block;
        margin-top: 10px;
      }
      
    .owl-prev, .owl-next{
        display: inline-block;
        margin: 10px;
        border: none;
        border-radius: 5px;
        background-color: #433647;
        cursor: pointer;
        transform: scale(2);
    }

    .owl-dot {
        display: none;
    }
}

@media screen and (max-width:350px){
    .box{
        max-width: 80vw;
    }
}
