@media screen and (max-width:980px){
    
    
}


/* header */
@media screen and (max-width:980px){
    header .container{
        text-align: center;
    }
    
    #foto-perfil{
        position: static;
        margin-bottom: 1em;
    }
    
    #nome-perfil{
        position: static;
        font-size: 1.5em;
    }

    #im{
        display: block;
    }

    #icones{
        position: static;
        display: block;
        margin-top: 3em;
    }
}

/* section de info*/
@media screen and (max-width:840px){
    
    #info-section .container{
        margin: 0;
        height: 90%;
        top: 10%;
    }

    #info-ul{
        font-size: 0.8em;
    }

    #info-p{
        text-align: justify;
        margin: 0 auto;
        width: 80%;
    }

    #info-section .botao-animado{
        position: absolute;
        left: 10%;
        bottom: 5%;
    }
}

@media screen and (max-width:350px){
    #info-section{
        height: 130vh;
    }
}

/* section projetos */

@media screen and (max-width:1240px){
    .slick-arrow{
        display: none !important;
    }
}

@media screen and (max-width:840px){
    ul.slick-dots{
        display: none !important;
    }
}

@media screen and (max-width:350px){
    .repo-block{
        max-width: 80vw;
    }

    #folio-section .box{
        box-shadow: unset;
    }
}


/* section sobre o site */
@media screen and (max-width:840px){
    #site-section .container{
        margin: 0;
        height: 90%;
        top: 10%;
    }
}


@media screen and (max-width:350px){
    #site-section{
        height: 130vh;
    }
}

/* section contato */

@media screen and (max-width:840px){
    footer{
        height: 100vh;
    }

    #contato-lista, #link-lista{
        padding: 0;
    }

    .contato-item, .link-item{
        display: block;
    }

    .ponto:not(.ponto-telefone){
        display: none;
    }
}

@media screen and (max-width:350px){
    footer{
        height: 110vh;
    }
}