html{
    scroll-behavior: smooth;
}

body, html{
    margin: 0;
}

body {
    background: #ffffff;
    color: #898989;
    font-family: 'Poppins', helvetica;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.02em;
    overflow-x: hidden;
    margin: 0 auto;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

header, section{
    position: relative;
    height: 100vh;
    width: 100vw;
}

button:focus{
    outline: none;
}

.container{
    max-width: none;
    width: 100vw;
    height: 50vh;
    top:50%;
    margin-top: -25vh; /* Metade da valor da Altura */
    position: absolute;
}

.box{
    max-width: 1200px;
    margin: 0 auto;
}

a:focus{
    outline: 0;
}

.go-box{
    display: block;
    text-align:center;
    height:72px;
}

.go-down{
    max-width: 64px;
    transition: all 0.2s linear;
}

.go-down:hover, .go-up:hover{
    max-width: 72px;
}

/* estilos do header */


header{
    background: url("../img/banner.png") repeat scroll center center / cover;
}

header .container{
    max-height: 250px;
}

#nome-perfil{
    position: absolute;
    display: inline;
    left: 55%;
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #fff;
    bottom:60%;
}

#foto-perfil{
    border-radius: 100%;
    max-width: 60%;
    max-height: 100%;
    position: absolute;
    right: 50%;

}

#icones{
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: absolute;
    left: 55%;
    top: 60%;
}

.icone-contato{
    display: inline-block;
    margin: 0 5px
}

.icone{
    max-width: 24px;
}

header .go-box{
    padding-top: calc(100vh - 72px);
}

/* estilos da section de informaçõe */

#info-section, #info-section .botao-animado{
    background-color: #433647;
}

.info-titulo:last-of-type{
    text-align: right;
    margin-right: 15px;
}

#info-ul{
    margin: 0 0 2em 0;
    display: inline-block; 
}

.info-li{
    padding: 5px;
    
}

#info-p{
    width: 40%;
    text-align: right;
    margin-left: 50%;
}

#info-p, #info-ul, .info-titulo{
    color: #cd4937;
}

#info-p, #info-ul{
    font-size: 1em;
}

.botao-animado{
	margin: 20px auto;
	border: none;
	padding: 10px 44px;
	font-size: 20px;
	position: relative;
    display: inline-block;
}

.botao-animado::before {
	transition: all 0.85s cubic-bezier(.8,-0.1,.3,1.3);
	content: '';
	width: 10%;
	height: 100%;
	background: #cd4937;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 10px 0px 0px 10px;
}

.botao-animado:hover::before {
  background: #974b51;
  width: 100%;
  border-radius: 10px;
}

.botao-animado-text{
  color: white;
  mix-blend-mode: difference;
}


/* section portifolio (folio) */

#folio-section{
    background-color: #624a5a;
    text-align: center;
}

#folio-titulo{
    font-size: 3em;
    font-weight: 700;
    color: #974b51;
    padding-top: 5vh;
}

.repo-block{
    width: 300px;
    height: 320px;
    background-color: #433647;
    margin: 0 10px;
    padding: 10px;
    border-radius: 15px;
}

.repo-block:focus{
    outline:0;
}

.repo-name{
    display: inline-block;
    color: #974b51;
    min-height: 70px;
}

.description-box{
    margin: 0;
    background-color: #624a5a;
    height: 150px;
    vertical-align: middle;
    border-radius: 10px;
    overflow-y: auto;
}

.repo-description{
    resize: none;
    
}

.repo-language{
    margin: 1.4em;
    font-weight: 700;
    color: #974b51;
}

#folio-section .box{
    box-shadow:  0 15px #624a5a , 0 -15px #624a5a, 3px 0 10px  #262626, -3px 0 10px #262626;
}

.badge{
    background-color: #cd4937;
    color: white;
}

.slick-arrow::before{
    color: #433647;
}


/* seção sobre o site */

#site-section{
    background-color: #433647;
    color: #cd4937;
}

#site-titulo{
    margin-bottom: 1.5em;
}

.site-p{
    text-align: justify;
    margin: 1em auto;
    width: 90%;
}

/* footer */

.go-up{
    max-width: 64px;
    transform: scaleY(-1);
    transition: all 0.2s linear;
}

.go-up:hover{
    max-width: 72px;
    transform: translateX(-36px), translateY(-1);
}

footer{
    background-color: #000;
    height: 45vh;
}

#contato-titulo{
    text-align: center;
    padding-top: 1em;
}

#contato-lista, #link-lista{
    list-style: none;
    text-align: center
}

.contato-item{
    display: inline-block;
}

.contato-block{
    padding: 2em;
}

#link-titulo{
    text-align: center;
}

.link-item{
    display: inline-block;
}

.ponto{
    max-height: 8px;
}